html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #fff;
}

main {
  flex: 1 0 auto;
}


input[type=text],
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  font-size: 1rem;
  margin: 0.4rem 0rem 0.4rem 0rem;
  background-color: white;
}

input[type=text]:hover {
  border: 1px solid #fe5634;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.6s;
}

input[type=text]:focus {
  border: 1px solid #fe5634;
}


input[type=submit] {
  background-color: white;
  padding: 12px;
  color: black;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
}

input[type=submit]:hover {
  color: white;
  background-color: #fe5634;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.6s;
}

textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2px;
  margin: 1rem 0rem 1rem 0rem;
  border: 1px solid #e9ecef;
}

textarea:hover {
  border: 1px solid #fe5634;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.6s;
}

textarea:focus {
  border: 1px solid #fe5634;
}

.breadcrumb {
  padding: 1rem 0rem 1rem 1rem;
}

.breadcrumb a {
  text-decoration: none;
  color: black;
  margin: 0 0.2rem;
  transition: color 0.5s;
}

.breadcrumb a:hover {
  color: #fe5634;
  transition: 0.3s;
}

.breadcrumb span {
  margin: 0 0.2rem;
  color: #fe5634;
}

header {
  width: 100%;
  display: flex;
  padding: 1rem 0rem 1rem 0rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
}

.cart4header {
  width: 24px;
  height: 24px;
}

.brandname {
  font-family: 'Bebas Neue', sans-serif;
  color: black;
  font-size: 1.8rem;
  display: inline-block;
  margin-left: 1rem;
  transition: color 0.4s;
}

.brandname:hover {
  color: #fe5634;
  transition: 0.4s;
}

.headerlink {
  margin-top: 0.2rem;
  text-decoration: none;
  font-weight: bold;
}

#headermenu {
  margin-right: 0rem;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

#headermenu li {
  display: inline-block;
}

#headermenu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(42, 41, 41);
  text-align: center;
  font-weight: bold;
  margin-right: 1rem;
}

#headermenu li a:hover {
  color: #fe5634;
  opacity: 0.8;
  transition: 0.4s;
}

#bigbox {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  margin-top: 2rem;
  border-radius: 10px;
  margin: 1em;
  padding: 2em;
  background-color: #ebf9fc;
}

.bigbox-title {
  width: 50%;
}

#bigbox h1 {
  font-family: 'Bebas Neue', sans-serif;
}

#bigbox input[type=text] {
  width: 50%;
}

#bigbox input[type=submit] {
  border-radius: 1px;
  padding: 1rem;
}

.bigbox-imgwrap {
  width: 35vh;
  height: 45vh;
}

.bigbox-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.headliner {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #fe5634;
  text-underline-position: under;
  text-underline-offset: 4px;
  font-weight: bolder;
  text-align: center;
  margin-top: 1.3em;
}

.bgforicon {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 4rem;
  background-color: white;
}

.iconsize {
  width: 32px;
  height: 32px;
}

#food_menu {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em;
}

#food_menu a {
  text-decoration: none;
}

#food_menu li {
  display: flex;
  flex: 1;
}

.food-category {
  padding: 1em;
  margin: auto;
  text-align: center;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  flex: 1;
  background-color: #ebf9fc;
}


.food-category:hover {
  background-color: #fe5634;
  cursor: pointer;
  color: white;
  transition: 0.8s;
}

.food-category:hover p,
.food-category:hover a {
  color: white;
  transition: 0.8s;
}


.popular_food {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
  margin: 1em;
}

.popular_food_section {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 1rem;
  border-radius: 10px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 28%, rgba(220, 244, 249, 1) 90%, rgba(235, 249, 252, 1) 100%);
}

.popular_food_section p {
  padding-bottom: 2em;
  min-height: 3em;
}

.img-wrapper {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.img-wrapper,
h3,
p,
button {
  flex-shrink: 0;
}

.popular_food_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.price-badge {
  position: absolute;
  right: 0;
  top: 20%;
  transform: translateY(-50%);
  background-color: #fe5634;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  font-size: 1rem;
}


.popular_food_section .order-nowbtn {
  background-color: white;
  padding: 12px;
  color: black;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
  margin: auto;
}

.popular_food_section .order-nowbtn:hover {
  color: white;
  background-color: #fe5634;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.8s;
}

.reviews_box {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.review_by {
  padding: 1em;
  margin: auto;
  flex: 1;
}

.review_by_img {
  width: 8rem;
  height: 8rem;
}

#aboutus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutus_text {
  margin-top: -1.2rem;
  font-size: 1.2em;
  line-height: 1.6;
  flex: 0.5;
  padding: 1rem;
}

#contactus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactus_text {
  margin-top: -1.2rem;
  font-size: 1.2em;
  line-height: 1.6;
  flex: 0.5;
  padding: 1rem;
}

#location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location_text {
  margin-top: -1.2rem;
  font-size: 1.2em;
  line-height: 1.6;
  flex: 0.5;
  padding: 1rem;
}

.mapiframe {
  width: 100%;
  height: 25vh;
  border: 0;
}

footer {
  width: 100%;
  font-family: 'EB Garamond', serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.1rem 0rem 1.1rem 0rem;
  font-size: 1.2em;
  flex-shrink: 0;
  align-items: center;
  border-top: 1px solid #e9ecef;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 1.2rem;
  transform: translateY(4.5px);
}

.social-media .icons a:hover svg {
  fill: #fe5634;
  transition: fill 0.6s ease;
}


@media screen and (max-width:336px) {
  #headermenu nav li a {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width:319px) {
  .review_by {
    padding: 1rem 0rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width:425px) {
  .brandname {
    display: none;
  }

  header {
    justify-content: center;
  }
}

@media screen and (max-width:399px) {
  .reviews_box {
    padding: 1rem 0rem;
    max-width: 100%;
  }
}

@media screen and (max-width:287px) {
  .reviews_box {
    max-width: 100%;
    flex-direction: column;
  }

  .review_by {
    max-width: 50%;
    padding: 0rem 0.5rem;
    margin: auto;
  }
}

@media screen and (max-width:660px) {
  body {
    width: 100%;
    margin: auto;
  }

  #bigbox {
    display: none;
  }
}

@media screen and (min-height:1080px) {
  .bigbox-img {
    width: 25vh;
    height: 35vh;
  }
}


@media screen and (min-width:1280px) {
  .reviews_box {
    max-width: 60%;
  }
}

@media screen and (min-width:1920px) {
  .reviews_box {
    max-width: 40%;
  }

  body {
    width: 70%;
    margin: auto;
  }
}


@media screen and (min-width:2560px) {
  .reviews_box {
    max-width: 30%;
  }

  .bigbox-imgwrap {
    width: 35vh;
    height: 45vh;
  }

}

@media screen and (min-width:3840px) {
  .reviews_box {
    max-width: 20%;
  }

}
