html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: #fff;
}

main {
  flex: 1 0 auto;
}

/* Start på inputs och textarea  */

input[type=text],
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  font-size: 1rem;
  margin: 0.4rem 0rem 0.4rem 0rem;
  background-color: white;
}

input:hover {
  border: 1px solid #E22600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.6s;
}

input[type=submit] {
  background-color: white;
  padding: 12px;
  color: black;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
}

input[type=submit]:hover {
  color: white;
  background-color: #E22600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.6s;
}

textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2px;
  margin: 1rem 0rem 1rem 0rem;
  border: 1px solid #e9ecef;
}

textarea:hover {
  border: 1px solid #E22600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.6s;
}

textarea:focus {
  border: 1px solid #E22600;
}

/* Slut på inputs och textarea  */

/* Start på breadcrumb meny */
.breadcrumb {
  padding: 1rem 0rem 1rem 1rem;
}

.breadcrumb a {
  text-decoration: none;
  color: black;
  margin: 0 0.2rem;
  transition: color 0.5s;
}

.breadcrumb a:hover {
  color: #E22600;
  transition: 0.3s;
}

.breadcrumb span {
  margin: 0 0.2rem;
  color: #E22600;
}

/* Slut på breadcrumb meny */

/* Start för header och innehåll i header  */

header {
  width: 100%;
  display: flex;
  padding: 1rem 0rem 1rem 0rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
}

.cart4header {
  width: 24px;
  height: 24px;
}

.brandname {
  font-family: 'Bebas Neue', sans-serif;
  color: black;
  font-size: 1.8rem;
  display: inline-block;
  margin-left: 1rem;
  transition: color 0.4s;
}

.brandname:hover {
  color: #E22600;
  transition: 0.4s;
}

.mobile_btn {
  border: none;
  font-size: 2.5rem;
  background-color: white;
  cursor: pointer;
  color: black;
  display: none;
  padding: 0;
  margin-right: 0.5rem;
  transform: translateY(-5px);
}

.close_mobile_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: white;
}

.close_mobile_btn:hover {
  color: #E22600;
  transition: 0.6s;
}

.headerlink {
  margin-top: 0.2rem;
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

#headermenu li {
  display: inline-block;
}

.cart_position {
  transform: translateY(7px);
}

#headermenu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(42, 41, 41);
  text-align: center;
  font-weight: bold;
  margin-right: 1rem;
}

#headermenu li a:hover {
  color: #E22600;
  transition: 0.6s;
}

#mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: none;
}

#mobile_menu ul {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  padding: 0;
  justify-content: center;
  list-style-type: none;

}

#mobile_menu a {
  font-size: 1.75rem;
  color: white;
  text-decoration: none;
}

#mobile_menu a:hover {
  font-size: 1.75rem;
  color: #E22600;
  transition: 0.6s;
}

/* Slut för header och innehåll i header  */

/* Start för nyhetsbrev box  */

#newsletter_box {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  margin-top: 2rem;
  border-radius: 10px;
  margin: 1em;
  padding: 2em;
  background-color: #ebf9fc;
}

.newsletter_box-title {
  width: 50%;
}

#newsletter_box h2 {
  font-family: 'Bebas Neue', sans-serif;
}

#newsletter_box input[type=email] {
  width: 50%;
}

#newsletter_box input[type=submit] {
  border-radius: 1px;
  padding: 1rem;
}

.newsletter_box-imgwrap {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.newsletter_box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Slut för nyhetsbrev box  */


.headliner {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #E22600;
  text-underline-position: under;
  text-underline-offset: 4px;
  font-weight: bolder;
  text-align: center;
  margin-top: 1.3em;
}

.bgforicon {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 4rem;
  background-color: white;
}

.iconsize {
  width: 32px;
  height: 32px;
}

/* Start på mat menyn  */

#food_menu {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em;
}

#food_menu a {
  text-decoration: none;
}

#food_menu li {
  display: flex;
  flex: 1;
}

.food-category {
  padding: 1em;
  margin: auto;
  text-align: center;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  flex: 1;
  background-color: #ebf9fc;
}


.food-category:hover {
  background-color: #E22600;
  cursor: pointer;
  color: white;
  transition: 0.8s;
}

.food-category:hover p,
.food-category:hover a {
  color: white;
  transition: 0.8s;
}

/* Slut på mat menyn  */


/* Start på populära beställningar  */

.popular_food {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
  margin: 1em;
}

.popular_food_article {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 1rem;
  border-radius: 10px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 28%, rgba(220, 244, 249, 1) 90%, rgba(235, 249, 252, 1) 100%);
}

.popular_food_article p {
  padding-bottom: 2em;
  min-height: 3em;
}

.img-wrapper {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.img-wrapper,
h3,
p,
button {
  flex-shrink: 0;
}

.popular_food_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.price-badge {
  position: absolute;
  right: 0;
  top: 20%;
  transform: translateY(-50%);
  background-color: #E22600;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  font-size: 1rem;
}


.popular_food_article .order-nowbtn {
  background-color: white;
  padding: 12px;
  color: black;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
  margin: auto;
}

.popular_food_article .order-nowbtn:hover {
  color: white;
  background-color: #E22600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: 0.8s;
}

/* Slut på populära beställningar  */

/* Start på omdömens styling */

.reviews_box {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.review_by {
  padding: 1em;
  margin: auto;
  flex: 1;
}

.review_by_img {
  width: 8rem;
  height: 8rem;
}

/* Slut på omdömens styling */

/* Start på om oss styling */
#aboutus_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutus_text {
  margin-top: -1.2rem;
  font-size: 1.2em;
  line-height: 1.6;
  flex: 0.5;
  padding: 1rem;
}

/* Slut på om oss styling */

/* Start på kontakta oss styling */
#contactus_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactus_text {
  margin-top: -1.2rem;
  font-size: 1.2em;
  line-height: 1.6;
  flex: 0.5;
  padding: 1rem;
}

/* Slut på kontakta oss styling */

/* Start på vart hittar du oss? styling */
#location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location_text {
  margin-top: -1.2rem;
  font-size: 1.2em;
  line-height: 1.6;
  flex: 0.5;
  padding: 1rem;
}

.mapiframe {
  width: 100%;
  height: 25vh;
  border: 0;
}

/* Slut på vart hittar du oss? styling */

/* Start på footer */

footer {
  width: 100%;
  font-family: 'EB Garamond', serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.1rem 0rem 1.1rem 0rem;
  font-size: 1.2em;
  flex-shrink: 0;
  align-items: center;
  border-top: 1px solid #e9ecef;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 1.2rem;
  transform: translateY(4.5px);
}

.social-media .footericons a:hover svg {
  fill: #E22600;
  transition: fill 0.6s ease;
}

/* Slut på footer */

/* Start på 404 */

.error_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
}

.error_article a {
  color: black;
  text-decoration: underline;
  text-decoration-color: #E22600;
}

.error_article a:hover {

  color: #E22600;
  transition: 0.8s;
}

/* Slut på 404 */


/* Start på media queries för optimering för olika längder och höjder  */
@media screen and (max-width:289px) {
  #headermenu li a {
    margin-right: 0.5rem;
  }

  .reviews_box {
    max-width: 100%;
    flex-direction: column;
  }

  .review_by {
    max-width: 50%;
    padding: 0rem 0.5rem;
    margin: auto !important;
  }

  footer h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width:319px) {
  .review_by {
    padding: 1rem 0rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width:336px) {
  #headermenu nav li a {
    margin-right: 0.5rem;
  }
}

@media screen and (max-height:360px) {
  #headermenu nav li a {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width:100px) and (max-width: 399px) {
  .reviews_box {
    padding: 1rem 0rem;
    flex-direction: column;
    max-width: 100%;
  }

  .review_by_img {
    margin: auto;
  }
}


@media screen and (max-width:660px) {
  body {
    width: 100%;
    margin: auto;
  }

  #headermenu {
    display: none;
  }

  .mobile_btn {
    display: inline-block;
  }

  header {
    padding: 0rem;
  }

  .aboutus_text,
  .contactus_text,
  .location_text {
    flex-grow: 0.8;
  }
}

@media screen and (max-width:750px) {
  .newsletter_box-imgwrap {
    display: none;
  }

  .newsletter_box-title {
    width: 100%;
  }
}

@media screen and (max-width:427px) and (min-width:400px) {
  .reviews_box {
    max-width: 80%;
  }
}

@media screen and (max-width:457px) and (min-width:427px) {
  .reviews_box {
    max-width: 75%;
  }
}

@media screen and (max-width:581px) and (min-width:458px) {
  .reviews_box {
    max-width: 70%;
  }
}

@media screen and (max-width:799px) and (min-width:582px) {
  .reviews_box {
    max-width: 55%;
  }
}

@media screen and (min-height:1080px) {
  .newsletter_box-img {
    width: 25vh;
    height: 35vh;
  }
}

@media screen and (min-width:1080px) {
  .reviews_box {
    max-width: 60%;
  }
}

@media screen and (min-width:1280px) {
  .reviews_box {
    max-width: 50%;
  }
}

@media screen and (min-width:1920px) {
  .reviews_box {
    max-width: 50%;
  }

  body {
    width: 70%;
    margin: auto;
  }

  .newsletter_box-imgwrap {
    max-width: 500px;
  }
}


@media screen and (min-width:2560px) {
  .reviews_box {
    max-width: 30%;
  }

}

@media screen and (min-width:3840px) {
  .reviews_box {
    max-width: 20%;
  }

}

/* Slut på media queries för optimering för olika längder och höjder  */
